<div id="photos">
    {{#each files}}
    <a href="{{../galleryUrl}}/{{name}}" title="{{name}}"></a>
    {{/each}}
</div>

<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script src="{{rootUrl}}/components/blueimp-gallery/js/blueimp-gallery.min.js"></script>
<script>
    blueimp.Gallery(document.getElementById('photos').getElementsByTagName('a'), {
        container: '#blueimp-gallery-carousel',
        carousel: true,
        enableKeyboardNavigation: true,
        closeOnEscape: true
    });
</script>
