<div id="photos">
    {{#each files}}
    <a href="/{{root}}/{{name}}" title="{{name}}">
    </a>
    {{/each}}
</div>

{{ id }}

<div id="blueimp-gallery-carousel" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script>
    blueimp.Gallery(document.getElementById('photos').getElementsByTagName('a'), {
        container: '#blueimp-gallery-carousel',
        carousel: true,
        enableKeyboardNavigation: true,
        closeOnEscape: true
    });
</script>
